* {
  color: #4D4835;
  font-family: 'Noto Sans KR', sans-serif;
}

nav.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
  z-index: 2;
}

div.navbar-container {
  width: 85%;
}

button {
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}
