* {
  user-select: none;
  -webkit-user-drag: none;
}

html {
  background-color: #262626;
}

div#top-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  display: none;
  cursor: pointer;
}

div.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #262626;
  color: white;
}

nav.navbar {
  position: unset;
  top: unset;
}

div.navbar-container {
  display: flex;
  justify-content: space-between;
}

a.button,
button.button {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

button#menu-button {
  margin-left: 0.5rem;
  display: none;
}

div.content { 
  width: 88%;
  display: flex;
  flex-direction: row;
}

div.sidemenu {
  flex-shrink: 0;
  /* height: 100vh; */
  height: unset;
  width: 11.2rem;
  background-image: linear-gradient(to left, #353535, rgba(53, 53, 53, 0));
}

div.sidemenu div.brand {
  padding: 1.2rem;
}

div.sidemenu div.brand img {
  width: 45px;
  height: 45px;
}

div.sidemenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.sidemenu li {
  /* item */
  font-size: 15px;
  font-weight: 600;
  padding: 1.1rem 1.2rem;
  color: white;

  display: flex;
  cursor: pointer;
}

div.sidemenu li.selected {
  color: black;
  background-image: linear-gradient(to right, #FFD600, #FFC900);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

div.sidemenu span.circle {
  background: #FFC900;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  align-self: baseline;
  margin-left: 0.5rem;
}

div.main {
  width: inherit;
  min-width: 0;
}

div.profile {
  display: flex;
  align-items: center;
}

div.sidemenu li:first-child {
  display: none;
}

div.profile img.image {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
  background-color: white;
  margin-right: 0.8rem;
}

div.profile span.name {
  font-weight: 300;
  font-size: 1.1rem;
  margin-right: 0.8rem;
}

div.stats {
  position: relative;
  height: 220px;
}

div.stats span.desc {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2.5px;
}

div.stats canvas#stats-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  filter: opacity(0.9);
}

div.stats div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.0) 30%,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.4)
  );
}

div.stats svg.illust {
  position: absolute;
  right: 0;
  bottom: 10px;
  height: 200px;
}

div.stats div.content {
  position: absolute;
  padding-top: 1.5rem;
  padding-left: 1.8rem;
  display: flex;
  flex-direction: column;
}

div.stats h1 {
  display: flex;
  flex-direction: column;
  font-size: 45px;
  font-weight: 300;
  line-height: 1.5;
}

div.stats h1 span.value {
  font-weight: 900;
}

section.section {
  padding: 1.2rem 1.8rem;
}

h1.section-title {
  font-size: 1.5rem;

  display: flex;
  align-items: center;
}

h1.section-title img.icon {
  height: 30px;
  width: 30px;
  margin-right: 0.8rem;
}

/* two section sides in one row */

section.section.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.section-side {
  width: 50%;
  display: flex;
  flex-direction: column;
}

div.section-side:first-child {
  margin-right: 1rem;
}

/* right side section */

div.right {
  width: 19rem;
  flex-shrink: 0;
}

section.right-section {
  padding: 1.2rem 1.8rem;
  padding-right: 0;
}

section.right-section p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
}

section.right-section:first-child {
  padding-top: 0.2rem;
}

div.section-side {
  display: flex;
}

div.weather-wrap {
  display: flex;
  flex-direction: column;
}

div.weather-illust {
  display: flex;
  justify-content: center;
  margin: 0.8rem 0;
}

div.weather-illust svg {
  width: 50%;
}

div.main-wrap {
  display: flex;
  min-width: 0;
  width: 100%;
}

@media (max-width: 1400px) {
  div.content {
    width: 95%;
  }

  div.navbar-container {
    width: 95%;
  }
}

@media (max-width: 1350px) {
  div.content {
    width: 98%;
  }

  div.navbar-container {
    width: 98%;
  }
}

@media (max-width: 1110px) {
  div.sidemenu {
    position: fixed;
    height: 100vh;
    width: 0;

    top: 0;
    left: 0;
    z-index: 4;
    overflow-x: hidden;
    transition: width 0.5s linear;
    background-image: linear-gradient(to left, rgba(53, 53, 53, 0.8), rgba(26, 26, 26, 0.8));

    padding-top: 1.2rem;
  }

  div.sidemenu ul {
    display: none;
  }

  div.sidemenu li:first-child {
    display: flex;
  }

  div.sidemenu li {
    margin-left: 0.5rem;
  }

  div.profile.top .image,
  div.profile.top .name {
    display: none;
  }

  button#menu-button {
    display: flex;
  }

  div.content {
    width: 90%;
  }

  div.navbar-container {
    width: 90%;
  }

  section.section {
    padding: 1.2rem 1rem;
  }

  section.section.row {
    padding: 0;
    flex-direction: column;
  }

  div.section-side {
    padding: 1.2rem 1rem;
    width: unset;
  }

  div.section-side:first-child {
    margin-right: 0;
  }

  section.right-section {
    padding: 1.2rem 1.5rem;
    padding-right: 0;
  }
}

@media (max-width: 964px) {
  div.content {
    width: 95%;
  }

  div.navbar-container {
    width: 95%;
  }

  div.main-wrap {
    flex-direction: column;
    width: -webkit-fill-available;
  }

  div.right {
    flex-direction: row;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 0 1.8rem;
  }

  section.right-section {
    padding: 0;
    width: 25%;
  }
}

@media (max-width: 850px) {
  div.right {
    flex-direction: column;
    width: unset;
    padding: 0;
  }

  section.right-section {
    width: unset;
    padding: 1.2rem 1.5rem;
  }

  div.weather-wrap {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  div.weather-wrap div.table-list {
    width: -webkit-fill-available;
  }
}

@media (max-width: 650px) {
  div.stats h1 {
    font-size: 2.6rem;
  }
}

@media (max-width: 600px) {
  div.stats h1 {
    font-size: 2.2rem;
  }

  div.calender-cell div.meta {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  img.brand {
    height: 45px;
    width: 45px;
  }

  div.stats div.content {
    padding-left: 1rem;
  }

  div.stats h1 {
    margin-top: 0.5rem;
    font-size: 1.8rem;
  }

  div.weather-illust {
    width: 200px;
  }
}
