div.table-list {
  margin-top: 0.8rem;
}

div.table-item {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed #505050;

  display: flex;
  justify-content: space-between;
}

div.table-item:last-child {
  border-bottom: 0;
}

div.table-item span.field {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

div.table-item span.value {
  font-size: 0.98rem;
  font-weight: 300;
}

div.table-item.long {
  flex-direction: column;
}

div.table-item.long span.value {
  align-self: flex-end;
}

div.table-item span.num {
  font-weight: 500;
  font-size: 1.1rem;
}
