div.word-list {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
}

div.word-item {
  cursor: pointer;
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  margin-bottom: 0.38rem;
  position: relative;
  height: 1.1rem;
}

div.word-background {
  z-index: 2;
  position: absolute;
  /* width: 100%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #35353500,
    rgba(53, 53, 53, 0.4),
    rgba(53, 53, 53, 0.8),
    #353535
  );
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

div.word-content {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

div.word-item:nth-of-type(2) div.word-background {
  width: 95%;
}

div.word-item:nth-child(3) div.word-background {
  width: 90%;
}

div.word-item:nth-child(4) div.word-background {
  width: 85%;
}

div.word-item:nth-child(5) div.word-background {
  width: 80%;
}

div.word-item span.word-en {
  text-transform: capitalize;
  margin-left: 0.5rem;
}

div.word-item:hover div.word-background {
  z-index: 1;
}

div.word-item:hover div.word-content {
  z-index: 2;
  font-weight: 500;
}

div.word-content div.word-meta {
  display: none;
}

div.word-item.selected div.word-background {
  background-image: linear-gradient(
    to right,
    rgb(255, 225, 76),
    rgb(255, 208, 0)
  );
}

div.word-item.selected span.word-en {
  display: none;
}

div.word-item.selected div.word-content {
  z-index: 2;
}

div.word-item.selected div.word-meta {
  display: flex;
  justify-content: space-between;
  width: 70%;
  position: relative;
  color: #353535;
}

div.word-meta span.word-ko {
  margin-left: 0.5rem;
  font-weight: 600;
}
